//colors
$cmain: lavender
$csecond: #333333
$cthird: darkmagenta
$cfour: #554ca0
$clight: white
$cfooter: #aaaaaa

//fonts
$fone: 'Manrope', sans-serif
$ftwo: 'Signika', sans-serif
$fthree: 'Titillium Web', sans-serif

//sectionHeight
$hmain: 600px

//maxwidth of sections
$maxWidth: 1200px