//colors
$cmain: lavender
$csecond: #5D81F8
$cthird: #FFD268
$cfour: #35357E
$clight: #FFFFFF
$cfooter: #aaaaaa

//fonts
$fone: 'Manrope', sans-serif
$ftwo: 'Signika', sans-serif
$fthree: 'Titillium Web', sans-serif

//sectionHeight
$hmain: 600px

//maxwidth of sections
$maxWidth: 1200px

//linears
$lin1: linear-gradient( #5D81F8, #B5EDFF)
$lin2: linear-gradient( #5D81F8, #4000A1)
$lin3: linear-gradient(#F2F7FC, #FFE0B2)
