@import "./sass-variables.sass"

#aboutMe
    background-color: $clight
    width: 100%
    color: $csecond
    position: relative
    display: flex
    flex-direction: column
    jjustify-content: center
    tex-align: center
    #amInfo
        display: flex
        flex-direction: column
        align-items: center
        h5
            padding-top: 4rem
            color: $csecond
            margin-top: 0
            display: inline-block
        h1
            margin-bottom: 1rem
        p
        #aboutList
            width: 490px
            text-align: left
            margin: auto
            list-style: none
            padding-bottom: 300px
            li
                padding-top: 40px
                display: flex
                // align-items: center
                font-size: 16px

                p
                    width: 440

                span
                    min-width: 10px
                    height: 10px
                    background-color: $cthird
                    margin-right: 10px
                    border-radius: 50%
    #experienceContainer
        position: absolute
        z-index: 5       
        left: 50%
        transform: translate(-50%)
        bottom: -300px         
        #experience
            width: 700px
            background: $lin4
            margin: auto
            position: relative
            margin-top: 150px
            display: flex
            flex-direction: column
            align-items: center
            h1
                color: $csecond
                position: absolute
                top: -50px
                left: -50px
                span
                    color: $clight
            #experienceList
                width: 490px
                text-align: left
                margin: auto
                list-style: none
                color: $clight
                padding-top: 60px
                padding-bottom: 50px
                li
                    padding-top: 40px
                    display: flex
                    // align-items: center
                    font-size: 16px

                    p
                        width: 440

                    span
                        min-width: 10px
                        height: 10px
                        background-color: $cthird
                        margin-right: 10px
                        border-radius: 50%
            button
                background: rgba(0,0,0,0)
                border: 2px solid $clight
                color: $clight
                font-size: 16px
            #experienceImg
                position: absolute
                left: 60%
                top: -60%

@media (max-width: 800px)
    #aboutMe
        #amPhotos
            #imgAmContainer
                grid-template-columns: repeat(2, 1fr)
                .imgAm1
                    grid-column: span 2
                    grid-row: span 2
                .imgAm2
                    grid-column: span 2
                    grid-row: span 2
                .imgAm3
                    grid-column: span 2
                    grid-row: span 2
                .imgAm4
                    grid-column: span 2
                    grid-row: span 2
                .imgAm5
                    grid-column: span 2
                    grid-row: span 2
