@import "./sass-variables.sass"

#footer
    min-height: 30vh
    background: $lin2
    background-size: $bs1
    background-position: center
    color: $clight
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    font-size: 15px
    #mainFooter
        width: 80%
        max-width: 1200px
        text-align: left
        line-height: 30px
        // color: $cfooter
        display: flex
        height: 400px
        align-items: center
        justify-content: center
        // #footerContainer
        #footerPhoto
            min-height: 179px
            min-width: 179px
            background: $clight
            border-radius: 50%
            margin: 94.5px
            overflow: hidden
            position: relative
            img
                position: absolute
                left: 50%
                top: 50%
                transform: translateX(-63%) translateY(-50%)
                height: 100%
                width: auto
        #meSocialsContainer
            #socialsFoot
                margin-left: 50px
                .icon
                    margin: 28px
                    cursor: pointer
                    transition: 0.3s

                    &:hover
                        color: rgba(248, 164, 18, 0.8)
        // #linksContactContainer
        //     display: flex
       
        #contactFoot
            padding-bottom: 2rem
            h1
                text-align: left
                margin: 30px 0
                padding: 0
                font-size: 36px
            p
                white-space: nowrap
                width: 250px
                margin: 0
                margin-bottom: 20px
                .icon
                    padding-right: 0.5rem
            a
                text-decoration: none
                color: $clight
                &:hover
                    color: $cthird
    #copyrights
        font-family: $ftwo
        height: 50px
        display: flex
        text-align: left
        width: 100%
        margin-right: 50px
        p
            width: 100%
            max-width: $maxWidth
            text-align: right
            // margin: auto
            // height: 100%
            color: $clight
            font-family: $fthird
            color: $cthird

@media(max-width: 1220px)
    #footer
        #mainFooter
            #meSocialsContainer
                #socialsFoot
                    display: flex
                    flex-direction: column

@media(max-width: 900px)
    #footer
        #mainFooter
            #meSocialsContainer
                #socialsFoot
                    margin-left: 30px
                    display: flex
                    flex-direction: row
            #contactFoot
                padding-bottom: 2rem
                    // padding-left: 20px
                    // margin-left: px

@media(max-width: 650px)
    #footer
        #mainFooter
            #meSocialsContainer
                #socialsFoot
                    margin-left: 30px
                    display: flex
                    flex-direction: column
            #contactFoot
                padding-bottom: 2rem
                    // padding-left: 20px
                    // margin-left: px
            
