@import "./sass-variables.sass"

#header
    position: relative
    min-height: 100vh
    z-index: 10
    background: $lin1
    background-size: $bs2
    background-position: right
    #helloTextContainer
        width: 1300px
        margin: auto
        position: relative
        padding-bottom: 50px
        #helloText
            padding-top: 20vh
            text-align: left
            width: 600px
            font-size: 60px
            font-weight: 900
            color: $cfour
            margin-left: 30px
            div:first-child
                opacity: 0
                transform: translateX(-100px)
                animation: show-text 0.5s ease-in-out 0s 1 forwards
            div:nth-child(2)
                opacity: 0
                transform: translateX(-100px)
                animation: show-text 0.5s ease-in-out 0.2s 1 forwards
            div:nth-child(3)
                opacity: 0
                transform: translateX(-100px)
                animation: show-text 0.5s ease-in-out 2s 1 forwards
            a
                text-decoration: none
            button
                color: $cthird
                margin: 0
                display: block
                margin-top: 100px
                &:hover
                    color: $clight
                    background: $cthird
            #headerImg
                position: absolute
                bottom: -200px
                left: calc(20vw + 300px)
                transform: scale(1.4)

@media(max-width: 1600px)
    #header
        #helloTextContainer
            #helloText
                padding-top: 25vh
                font-size: 55px
                #headerImg
                    position: absolute
                    bottom: -100px
                    left: calc(20vw + 280px)
                    transform: scale(1.1)

@media(max-width: 1300px)
    #header
        #helloTextContainer
            width: 900px
            #helloText
                padding-top: 20vh
                font-size: 50px
                #headerImg
                    position: absolute
                    bottom: 120px
                    left: calc(20vw + 50px)
                    transform: scale(1)
                button
                    margin-top: 600px

@media(max-width: 1000px)
    #header
        #helloTextContainer
            width: 650px
            #helloText
                padding-top: 20vh
                font-size: 45px
                #headerImg
                    position: absolute
                    bottom: 50px
                    left: calc(20vw - 150px)
                    transform: scale(0.8)
                button
                    margin-top: 450px

@media(max-width: 700px)
    #header
        #helloTextContainer
            width: 650px
            position: default
            #helloText
                padding-top: 25vh
                font-size: 40px
                #headerImg
                    position: absolute
                    bottom: -30px
                    left: auto
                    right: -100px
                    transform: scale(0.6)
                button
                    margin-top: 350px

@media(max-width: 500px)
    #header
        min-height: 100vh
        #helloTextContainer
            width: 100vw
            #helloText
                margin-left: 40px
                padding-top: 20vh
                font-size: 30px
                button
                    margin-top: 300px
                #headerImg
                    position: absolute
                    bottom: -40px
                    left: auto
                    right: 20px
                    transform: scale(0.45)

@media(max-width: 330px)
    #header
        #helloTextContainer
            width: 250vw
            #helloText
                padding-top: 20vh
                font-size: 25px
                margin: 0 10px
                #headerImg
                    position: absolute
                    bottom: -70px
                    left: auto
                    right: 50px
                    transform: scale(0.35)
                button
                    margin-top: 250px

@keyframes show-text
    from
        opacity: 0
        // color: $clight
        transform: translateX(-100px)
    to
        opacity: 1
        // color: $cfour
        transform: translateX(0px)