@import "./sass-variables.sass"

#header
    position: relative
    height: 100vh
    min-height: $hmain
    z-index: 10
    background: $lin1

    #helloText
        padding-top: 30vh
        padding-left: 20vw
        text-align: left
        width: 400px
        font-size: 36px
        font-weight: 900
        color: $cfour

        button
            color: $cthird
            margin: 0
            display: block
            margin-top: 100px
        #headerImg
            position: absolute
            left: calc(100vw - 900px)
            bottom: -200px
