@import "./sass-variables.sass"

.homeArrow
    border: 5px solid #333333
    display: inline
    padding: 10px
    position: fixed
    z-index: 100
    right: 30px
    bottom: 60px
    border-radius: 50%
    text-decoration: none
    color: $clight
    border: 2px solid $clight
    background: $csecond

    &:hover
        color: $cmain
        border: 2px solid $cmain
        background: $cfour

// @media(max-width: 700px)
//     .homeArrow
//         display: none
