@import "./sass-variables.sass"

#nav-container
    box-sizing: border-box
    position: fixed
    width: 100vw
    // padding: 0 2rem 0 2rem
    transition: 0.3s
    opacity: 1
    z-index: 1000
    #navbar
        margin: 0 2rem 0 0
        width: 100vw
        height: 100%
        display: flex
        justify-content: space-around
        align-items: center
        font-weight: 700
        #brand
            padding-left: 2rem
        #navlinks
            width: 50%
            ul
                list-style: none
                margin: 0
                padding: 0
                display: flex
                justify-content: space-around
                cursor: pointer

.navTop
    height: 100px
    background: rgba(150,132,146,0)

.navScroll
    height: 50px
    background: $cfour
    color: $cmain
    #navbar
        #navlinks
            .hamburger
                .hamburgerBox
                    .hamburgerInner,
                    .hamburgerInner::before,
                    .hamburgerInner::after
                        background-color: $clight

.hamburger
    // padding: 10px
    cursor: pointer
    display: inline-block
    border: 0
    margin: 0
    z-index: 10
    // background-color: #4DD3C0
    outline: none
    transition: transform 0.1s ease-in-out

    .hamburgerBox
        position: relative
        width: 35px
        height: 35px
        display: inline-block

        &:hover .hamburgerInner
            // background-color: white
        &:hover .hamburgerInner::before
            top: -15px

        &:hover .hamburgerInner::after
            top: 15px

        .hamburgerInner
            width: 100%
            height: 4px
            background-color: $csecond
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            transition: background-color .2s

        .hamburgerInner::before,
        .hamburgerInner::after
            width: 100%
            height: 4px
            background-color: $csecond
            position: absolute
            left: 0
            content: ''
            transition: .2s

        .hamburgerInner::before
            top: -10px

        .hamburgerInner::after
            top: 10px
