@import "./sass-variables.sass"

#nav-container
    box-sizing: border-box
    position: fixed
    width: 100vw
    transition: 0.3s
    opacity: 1
    z-index: 1000
    display: flex
    #navbar
        margin: auto
        width: 100vw
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center
        font-weight: 500
        text-transform: uppercase
        #brand
            min-width: 200px
            margin-left: 120px
            font-weight: 500
            color: $cfour
            cursor: default
            span
                font-weight: 900
        #navlinks
            ul
                width: 700px
                list-style: none
                margin: 0 50px 0 0px
                padding: 0
                display: flex
                justify-content: flex-end
                margin-right: 120px
                .navItem
                    position: relative
                    cursor: pointer
                    width: 130px
                    text-align: left
                    height: 40px
                    display: flex
                    align-items: center

                    .navLink
                        overflow: hidden
                        a
                            text-decoration: none
                            color: $clight

                        .navLine
                            width: 1.5rem
                            height: 2px
                            background-color: $clight
                            transition: 0.2s
                            transform: translatex(-100%)
                        &:hover
                            .navLine
                                transform: translate(0)

.navTop
    height: 100px
    background: rgba(150,132,146,0)

.navScroll
    height: 50px
    background: $clight
    color: $cthird
    box-shadow: 0px 2px 5px 0px rgba($cfour, 0.75)
    #navbar
        #navlinks
            ul
                .navLink
                    a
                        color: $cfour !important
                    div
                        background-color: $cfour !important
            .hamburger
                .hamburgerBox
                    .hamburgerInner,
                    .hamburgerInner::before,
                    .hamburgerInner::after
                        background-color: $cfour

.hamburger
    cursor: pointer
    display: inline-block
    border: 0
    margin: 0 180px
    z-index: 10
    color: $cmain
    outline: none
    transition: transform 0.1s ease-in-out

    .hamburgerBox
        position: relative
        width: 25px
        height: 25px
        display: inline-block

        &:hover .hamburgerInner
        &:hover .hamburgerInner::before
            top: -12px

        &:hover .hamburgerInner::after
            top: 12px

        .hamburgerInner
            width: 100%
            height: 4px
            background-color: $clight
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            transition: background-color .2s

        .hamburgerInner::before,
        .hamburgerInner::after
            width: 100%
            height: 4px
            background-color: $clight
            position: absolute
            left: 0
            content: ''
            transition: .2s

        .hamburgerInner::before
            top: -8px

        .hamburgerInner::after
            top: 8px

#sidebarBackground
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: -10
    transition: 0.2s

.backgroundActive
    background-color: rgba(0,0,0,0)

.backgroundActiveBlack
    background-color: rgba(0,0,0,0.5)

.backgroundDisabled
    background-color: rgba(0,0,0,0.5)
    display: none

@media(max-width: 650px)
    #nav-container
        box-sizing: border-box
        position: fixed
        width: 100vw
        transition: 0.3s
        z-index: 1000
        #navbar
            margin: 0 1rem 0 0
            justify-content: space-around
            align-items: center
            font-weight: 500
            text-transform: uppercase
            #brand
                min-width: 0px
                margin-left: 40px
                font-weight: 500
                span
                    font-weight: 900
        .hamburger
            margin: 50px

@media(max-width: 300px)
    #nav-container
        box-sizing: border-box
        position: fixed
        width: 100vw
        transition: 0.3s
        opacity: 1
        z-index: 1000
        #navbar
            margin: 0 1rem 0 0
            justify-content: space-around
            align-items: center
            font-weight: 500
            text-transform: uppercase
            #brand
                min-width: 0px
                margin-left: 2rem
                font-weight: 500
                color: $cfour
                span
                    font-weight: 900
        .hamburger
            margin: 10px
