@import "./sass-variables.sass"

#next
    width: 100%
    // max-width: $maxWidth
    display: flex
    flex-direction: column
    padding-top: 250px
    padding-bottom: 3rem
    background: $lin5
    z-index: 0
    position: relative
    align-items: center
