@import "./sass-variables.sass"

// $imgpath: ../img

#projects
    min-height: $hmain
    // margin-bottom: 2rem
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    margin-bottom: 150px
    z-index: 1

    h1
        margin-bottom: 1rem
        padding: 30px 0

    h5
        margin-top: 0
        padding-top: 4rem
    
    p
        width: 380px
        margin-bottom: 50px

    button
        margin: 50px 0

    #imgContainer
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: auto
        grid-gap: 1rem
        width: 60%

        .img1
            grid-column: span 2
            grid-row: span 2

        .img2
            grid-column: span 2

        .img3
            grid-column: span 2
            grid-row: span 2

        .img4
            grid-column: span 2
            grid-row: span 2

        .img5
            grid-column: span 2

        .img6
            grid-column: span 2

        .img7
            grid-column: span 4
            grid-row: span 2

        .img8
            grid-column: span 2
            grid-row: span 2
    #nextSkills
        position: absolute
        bottom: -330px
        z-index: 1
        #nextSkillsList
            list-style: none
            display: flex
            width: 760px
            justify-content: space-between
            li
                width: 190px
                height: 190px
                background: $lin6
                display: flex
                position: relative
                span
                    margin: auto
                    color: $clight
                    font-size: 36px
                    font-weight: bold
                div
                    position: absolute
                    font-size: 176px
                    color: $clight
                    opacity: 0.41
                    font-weight: bold
                    top: -30px
                    right: 150px




@media (max-width: 1000px)
    #projects
        #imgContainer
            grid-template-columns: repeat(4, 1fr)

            width: 80%

            .imageDiv
                img

            .img1
                grid-column: span 2
                grid-row: span 2

            .img2
                grid-column: span 2

            .img3
                grid-column: span 2
                grid-row: span 2

            .img4
                grid-column: span 2
                grid-row: span 2

            .img5
                grid-column: span 2

            .img6
                grid-column: span 4
                grid-row: span 2

            .img7
                grid-column: span 2
                grid-row: span 2

            .img8
                grid-column: span 2
                grid-row: span 2

@media (max-width: 600px)
    #projects
        #imgContainer
            grid-template-columns: repeat(2, 1fr)

            width: 80%

            .imageDiv
                img

            .img1
                grid-column: span 2
                grid-row: span 2

            .img2
                grid-column: span 2

            .img3
                grid-column: span 2
                grid-row: span 2

            .img4
                grid-column: span 2
                grid-row: span 2

            .img5
                grid-column: span 2

            .img6
                grid-column: span 2
                grid-row: span 2

            .img7
                grid-column: span 2
                grid-row: span 2

            .img8
                grid-column: span 2
                grid-row: span 2
