@import "./sass-variables.sass"

.sidebar
    box-sizing: border-box
    position: fixed
    width: 330px
    height: 100vh
    background-color: $clight
    transform: translateX(100vw)
    transition: 0.3s
    z-index: 10000
    top: 0
    left: 0
    padding: 30px 50px
    cursor: default
    color: $csecond
    .navIcon
        width: 100%
        text-align: right
        margin-bottom: 40px
        .icon
            color: $csecond
            cursor: pointer
    ul
        color: $csecond
        display: flex
        flex-direction: column
        height: 300px
        text-align: left

        li
            overflow: hidden
            a
                text-decoration: none
                color: $csecond

            #navSocials
                width: 100%
                display: flex
                align-items: space-between
                margin-top: 3rem

                .navIcon
                    margin: 0
                    text-align: left
                    font-size: 10px
            .sideLine
                width: 1.5rem
                height: 3px
                background-color: $csecond
                        // position: absolute
                transition: 0.2s
                transform: translatex(-100%)
            &:hover
                .sideLine
                    transform: translate(0)

        .projectList
            display: flex
            justify-content: space-between

            .icon
                cursor: pointer

.sidebarActive
    width: 330px
    // height: 100%
    // background-color: $clight
    transition: 0.3s
    transform: translateX(calc(100vw - 330px))